! XTERM
XTerm.vt100.faceName: Terminus:size=12:antialias=false
XTerm.vt100.font: 7x13
xterm*borderWidth: 0
xterm*internalBorder: 10

! URXVT GENERAL CONFIG
!------------------------------------------------
URxvt.geometry: 80x22
URxvt.internalBorder: 10

! URXVT FONTS
!------------------------------------------------
URxvt.font:xft:Terminus:size=12
URxvt.boldFont:xft:Terminus:bold:size=12
URxvt.italicfont:xft:Terminus:italic:size=12
URxvt.bolditalicFont:xft:Terminus:bold:italic:size=12
!URxvt.font:           xft:Terminus for Powerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=12:antialias=true
!URxvt.imFont:         xft:Terminus for Powerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=12:antialias=true
!URxvt.boldFont:       xft:Terminus for Powerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=12:antialias=true
!URxvt.italicFont:     xft:Terminus for Powerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=12:antialias=true
!URxvt.boldItalicFont: xft:Terminus for Powerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=12:antialias=true
URxvt*letterSpace: 0
URxvt*allow_bold: true

! URXVT FONT SETTINGS
!------------------------------------------------
Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! URXVT ENABLE LINK SUPPORT
!------------------------------------------------
URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.rend.0: Uline Bold fg3
URxvt.insecure: false

! URXVT COPY PASTE SHORTCUTS
!------------------------------------------------
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! URXVT SCROLLBAR AND CURSOR STYLE
!------------------------------------------------
URxvt*saveLines: 300000
URxvt.scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true

! URXVT COLORS
!------------------------------------------------

!TomorrowNight
#define t_background        #1d1f21
#define t_current_line      #282a2e
#define t_selection      	#373b41
#define t_foreground      	#c5c8c6
#define t_comment	     	#969896
#define t_red		     	#cc6666
#define t_orange	     	#de935f
#define t_yellow        	#f0c674
#define t_green	        	#b5bd68
#define t_aqua	        	#8abeb7
#define t_blue	        	#81a2be
#define t_purple        	#b294bb


*.foreground:   t_foreground
*.background:   t_background
*.cursorColor:  #aeafad

! Black / Grey
*.color0:       #000000
*.color8:       #666666

! Red / Bright Red
*.color1:       t_red
*.color9:       #FF3334

! Green + Bright Green
*.color2:       t_green
*.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
*.color3:       t_orange
*.color11:      t_yellow

! Blue + Bright Blue
*.color4:       t_blue
*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
*.color5:       t_purple
*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
*.color6:       t_aqua
*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
*.color7:       t_selection
*.color15: t_current_line
